{% extends 'transport/main.html' %}

{% block content %}
{%  include 'transport/status.html' %}
<br>

<div class="row-md-12">
    <div class="col-md-12">
        <div class="card card-body">
            <h5>Đơn hàng</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Tên đơn hàng</th>
                    <th>Tài xế</th>
                    <th>Xe</th>
                    <th>Doanh thu</th>
                    <th>Chi phí</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td> {{order.name}}</td>
                    <td> {{order.driver}}</td>
                    <td> {{order.vehicle}}</td>
                    <td> {{order.revenue}}</td>
                    <td> {{order.expense}}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}
