{% load static %}
<footer id="colophon" class="site-footer" role="contentinfo"
        style="background-color: black; color: white; padding: 20px;">
    <div class="container">
        <div class="pull-left">
            <div style="text-align: left;">
                <div class="copy-right">
                    CÔNG TY TNHH VẬN TẢI NAM PHÚ THỊNH <br>
                </div>
                <p>
                    <strong>Địa chỉ trụ sở chính: </strong>
                    108/4C, Hố Nai 3, Trảng Bom, Đồng Nai
                </p>
                <p>
                    <strong>Điện thoại: </strong>
                    0616.278.167
                </p>
                <p>
                    <strong>Fax: </strong>
                    0618.971.453
                </p>
                <p>
                    <strong>Hotline: </strong>
                    0907.503.503, 0983.287.387
                </p>
                <p>
                    <strong>Email: </strong>
                    phongkinhdoanh@namphuthinhexpress.com
                </p>
            </div>
        </div>
        <div class="pull-right"></div>

    </div>
</footer>