{% extends 'transport/main.html' %}

{% block content%}
<br>

<div class="row-md-12">
    <div class="col-md-12">
        <div class="card card-body">
            <h5>Xe</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Biển số xe</th>
                    <th>Dòng xe</th>
                    <th>Ngày đăng kiểm</th>
                </tr>
                {% for i in vehicles%}
                <tr>
                    <td> {{i.license_plates}} </td>
                    <td> {{i.model}} </td>
                    <td> {{i.date_register}} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}